# Data Generation

## Import Packages

In [11]:
import numpy as np
import scipy
from scipy.stats import norm
import pandapower as pp
import pandas as pd
import pandapower.networks

## Input Data

In [43]:
case = pp.networks.case9()
number_of_bus = case.bus.shape[0]

load = case.load.iloc[:,6:8]
load_bus_number = case.load.iloc[:,0]

Pgenerators = np.zeros((number_of_bus,1))
number_of_data = 2000

In [24]:
case.load

   bus  const_i_percent  const_z_percent  controllable  in_service  name   p_mw  q_mvar  scaling  sn_mva  type
0    4              0.0              0.0         False        True  None   90.0    30.0      1.0     NaN  None
1    6              0.0              0.0         False        True  None  100.0    35.0      1.0     NaN  None
2    8              0.0              0.0         False        True  None  125.0    50.0      1.0     NaN  None

In [47]:
case.bus

   in_service  max_vm_pu  min_vm_pu name type  vn_kv zone
0        True        1.1        0.9    1    b  345.0  1.0
1        True        1.1        0.9    2    b  345.0  1.0
2        True        1.1        0.9    3    b  345.0  1.0
3        True        1.1        0.9    4    b  345.0  1.0
4        True        1.1        0.9    5    b  345.0  1.0
5        True        1.1        0.9    6    b  345.0  1.0
6        True        1.1        0.9    7    b  345.0  1.0
7        True        1.1        0.9    8    b  345.0  1.0
8        True        1.1        0.9    9    b  345.0  1.0